        * {
            padding: 0%;
            margin: 0%;
            font-family: Roboto;
            font-style: normal;
        }
        
        .game {
            height: 40%;
            position: absolute;
            background: #ECF0F1;
            border-radius: 25px;
            top: 25%;
            left: 40%;
        }
        
        .playerboard {
            width: 300px;
            height: 60%;
            background: #3498DB;
            border-radius: 25px;
        }
        
        .playerboard p {
            font-size: 16px;
            color: #ecf0f1;
        }
        
        .scoreboard {
            height: 80%;
            margin-top: 1%;
            background: #ECF0F1;
            border-radius: 15px;
        }
        
        .scoreboard p {
            font-size: 18px;
            color: #000000;
        }
        
        table {
            width: 50%;
        }
        
        tr {
            width: 20%;
            height: 50%;
        }
        
        table tr,
        td {
            border: 2px solid black;
            border-collapse: collapse;
            text-align: center;
        }
        
        td {
            width: 50px;
            height: 60px;
            color: #000000;
        }
        
        tr td:first-child {
            border-left: hidden;
        }
        
        tr td:last-child {
            border-right: hidden;
        }
        
        tr:last-child {
            border-bottom: hidden;
        }
        
        tr:first-child {
            border-top: hidden;
        }
        
        .PX {
            font-family: Patrick Hand SC;
            align-items: center;
            text-transform: capitalize;
            color: #F1C40F;
            font-size: 34px;
            text-shadow: 0px 2px 4px #282828;
            -webkit-text-stroke-width: 1px;
        }
        
        .PO {
            font-family: Patrick Hand SC;
            align-items: center;
            text-transform: capitalize;
            color: #3498DB;
            font-size: 34px;
            text-shadow: 0px 2px 4px #282828;
            -webkit-text-stroke-width: 1px;
        }
        
        .modal-dialog .modal-content {
            width: 400px;
            height: 200px;
            background: #3498DB;
            border-radius: 20px;
        }
        
        .modal-dialog .modal-body h5 {
            font-family: Roboto;
            font-style: normal;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            margin-top: 3%;
            color: #ECF0F1;
        }
        
        .modal-dialog .modal-body p {
            font-family: Roboto;
            font-style: normal;
            font-size: 24px;
            font-weight: 300;
            line-height: 28px;
            text-align: center;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            margin-top: 5%;
            color: #ECF0F1;
        }
        
        .modal-dialog button {
            background: #F1C40F;
            border-radius: 25px;
            font-weight: 100;
            font-size: 20px;
            line-height: 23px;
            align-items: center;
            text-align: center;
            color: #000000;
            margin-right: 5%;
        }